* {
    box-sizing: border-box;
}

.about .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows:120px auto 30px auto 250px auto 40px auto auto 20px;
  
}

.section.about {

    background-image:  url("../img/me1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}

.about5 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.about4 {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
}

.about1 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
   
font-weight: 500;
font-size: 1.5em;
line-height: 42px;


}

.about2 {
    grid-column: 1 / 8;
    grid-row: 7/8;
   
font-weight: 400;
font-size: 1.5em;
line-height: 1em;

}





