* {
    box-sizing: border-box;
}

.portfolio2 .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1,5fr 4,5fr 2fr 4fr 0,5fr 1,5fr 0,5fr 4fr 2fr 0.5fr;
    grid-template-rows: 30px auto 15px auto auto 20px auto 20px auto auto auto 30px auto 20px auto 20px auto 20px auto auto 20px  auto 20px auto;
}



.img1 {
    grid-column: 7 / 9;
    grid-row: 2 / 4;



}



.img2 {
    grid-column: 5 / 8;
    grid-row: 3 / 5;
    z-index: 2;
}

.img3 {
    grid-column: 8 / 10;
    grid-row: 4 / 6;


}

.img-fit img {
    width: 100%;
    height: auto;

}

.img4 {
    grid-column: 1 / 4;
    grid-row: 5 / 8;

}

.img5 {
    grid-column: 3 / 6;
    grid-row: 7 / 10;

}

.img6 {
    grid-column: 2 / 4;
    grid-row: 9 / 12;

}


.img7 {
    grid-column: 4 / 7;
    grid-row: 11 / 14;

}

.img8 {
    grid-column: 1 / 4;
    grid-row: 13 / 15;

}

.img1 img {

    border: 3px solid white;
}


.img2 img {

    border: 3px solid white;
}

.img3 img {

    border: 3px solid white;
}

.img4 img {

    border: 3px solid white;
}

.img5 img {

    border: 3px solid white;
}

.img6 img {

    border: 3px solid white;
}

.img7 img {

    border: 3px solid white;
}

.img8 img {

    border: 3px solid white;
}



.img-fit {
    overflow: hidden;
}


.text {
    width: 100%;
    height: auto;
    color: white;
}



.name {
    grid-column: 5 / 7;
    grid-row: 2 / 4;

}

.firs-poem {
    grid-column: 4 / 6;
    grid-row: 3 / 5
}
